[Unit]
Description=Yas terminal multiplexer
Requires=yas.socket

[Service]
Type=notify
WorkingDirectory=~
ExecStart=yas server
Restart=no

[Install]
WantedBy=default.target
